---
layout: default
---

<div class="hero-image">
  <div class="hero-text">
    <h1>Anthony Mandelli</h1>
    <p>Blockchain & technology storytelling.</p>
  </div>
</div>

<div class="wrapper">
  <div class="home">
    {% if site.posts.size > 0 %}
    <div class="floating-content">
      <h3 class="post-list-heading">{{ page.list_title | default: "Featured post:" }}</h3>
      <ul class="post-list">
        {% for post in site.posts limit:1 %}
        <li class="post">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
          {% if site.show_excerpts %}
            {{ post.excerpt }}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <h2>Recent Posts</h2>
    <div class="post-grid">
      {% for post in site.posts offset:1 limit:6 %}
      <div class="post">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <h2>Writing samples</h2>
    <div class="post-grid">
      <div class="post">
        <h3>Census</h3>
        <ul>
          <li><a href="https://blog.getcensus.com/introduction-to-data-driven-lead-scoring-for-sales-marketing-analysts/">Introduction to data-driven lead scoring for sales & marketing analysts</a></li>
        </ul>
      </div>

      <div class="post">
        <h3>Snowplow Analytics</h3>
        <ul>
          <li><a href="https://snowplow.io/blog/2023/02/14/why-data-engineering-is-the-most-important-job-in-2023/">Why data engineering is the most important job in 2023</a></li>
        </ul>
      </div>

      <div class="post">
        <h3>Blockchannel</h3>
        <ul>
          <li><a href="https://blockchannel.com/why-blockchain-is-the-future-of-identity-management/">Why blockchain is the future of identity management</a></li>
        </ul>
      </div>

      <div class="post">
        <h3>TQ Tezos</h3>
        <ul>
          <li><a href="https://medium.com/tqtezos/tezos-smart-contracts-101-a-beginners-guide-5f1b0a3c5b5a">Tezos smart contracts 101: A beginner's guide</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
