---
---

@import "minima";

.floating-content { padding: 30px 0; flex: 1; border: 1px solid;
  padding: 10px;
  margin-right: 50;
  box-shadow: 5px 10px #778899;
  background-color: #fffafa;
}

  #section-box {
    padding: 10px;
    margin-right: 50;
  }
