// Custom styles that override Minima components
.site-header {
  background: $background-color;
  border-bottom: 2px solid $brand-color;
}

.site-title, .site-title:visited {
  color: $text-color;
}

.site-nav .page-link {
  color: $text-color;
}

.site-nav .page-link:hover {
  color: $brand-color-light;
}

.post {
  background: $background-light;
  border: 1px solid $brand-color;
}

.post-title {
  color: $brand-color-light;
}

.post-content {
  color: $text-grey;
}

.post-content a {
  color: $link-base-color;
}

.post-content a:visited {
  color: $brand-color;
}

.post-content a:hover {
  color: $text-color;
} 