---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
  <div class="floating-content">
    <h3 class="post-list-heading">{{ page.list_title | default: "Featured posts:" }}</h3>
    <ul class="post-list">
      {%- for post in site.posts limit:2 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    
  {%- endif -%}
<br><br><br>
{{ content }}

<h2>Writing samples</h2>
      <h4>
      <a href="#Census">Census</a><br>
      <a href="#sp">Snowplow Analytics</a><br>
      <a href="#Blockchannel">Blockchannel</a><br>
      <a href="#tq">TQ Tezos</a><br>
      </h4>

      <div id="section-box">
      <h3>Census</h3><a name="Census"></a>

      <p>
      <ul>
        <li><a href="https://blog.getcensus.com/introduction-to-data-driven-lead-scoring-for-sales-marketing-analysts/">Introduction to data-driven lead scoring for sales & marketing analysts</a></li>
      </ul>
      </p>
      </div>


      <div id="section-box">
      <h3>Snowplow Analytics</h3><a name="sp"></a>
      <p>
      <ul>
        <li><a href="https://snowplowanalytics.com/blog/2021/03/11/privacy-updates-ad-blockers-and-the-need-for-1st-party-tracking/">Privacy updates, ad blockers, and the need for 1st-party tracking</a></li>
        <li><a href="https://snowplowanalytics.com/blog/2019/02/05/how-data-ownership-makes-you-a-more-effective-data-scientist/">How data ownership makes you a more effective data scientist</a></li>
        <li><a href="https://snowplowanalytics.com/blog/2018/01/19/product-analytics-part-one-data-and-digital-products/">Product analytics series part one of eight</a></li>
      </ul>
      </p>
      </div>


      <div id="section-box">
      <h3>Blockchannel</h3><a name="Blockchannel"></a>

      <p>
      <ul>
        <li><a href="https://medium.com/blockchannel/stop-renting-buy-top-level-domains-with-bob-wallet-16a25acfbd76">Stop renting: buy top-level domains with Bob Wallet</a></li>
        <li><a href="https://medium.com/blockchannel/sexy-second-level-domains-for-your-substack-with-handshake-8de2155a2f52">Sexy second-level domains for your Substack with Handshake</a></li>
      </ul>
      </p>
      </div>


      <div id="section-box">
      <h3>TQ Tezos</h3><a name="tq"></a>

      <p>
      <ul>
        <li><a href="https://medium.com/tqtezos/1-300-new-tezos-developers-trained-in-2019-31b0719186dd">1,300+ New Tezos Developers Trained in 2019</a></li>
        <li><a href="https://medium.com/tqtezos/preparing-for-aztec-ignition-662610c1801b">Preparing for AZTEC Ignition</a></li>
      </ul>
      </p>
      </div>


</div>
