---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
  <div class="floating-content">
    <h3 class="post-list-heading">{{ page.list_title | default: "Most recent post:" }}</h3>
    <ul class="post-list">
      {%- for post in site.posts limit:1 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p></div>
  {%- endif -%}
<br><br><br>
{{ content }}

<h2>Writing samples</h2>
      <h4>
      <a href="#Numerai">Numerai</a><br>
      <a href="#tq">TQ Tezos</a><br>
      <a href="#sp">Snowplow Analytics</a><br>
      <a href="#bitclave">Bitclave</a><br>
      <a href="#ccn">CryptoCoinsNews</a><br>
      <a href="#personal">Early personal work</a><br>
      </h4>



      <div id="section-box">
      <h3>Numerai</h3><a name="Numerai"></a>

      <p>
      <ul>
        <li><a href="https://medium.com/numerai/placeholder-thesis-design-update-aliens-exist-620c2459bedb">Erasure April Update</a></li>
        <li><a href="https://docs.numer.ai/office-hours-with-arbitrage/office-hours-recaps/ohwa-5">Office Hours with Arbitrage, Season 1 Episode 5</a></li>
        <li><a href="https://docs.numer.ai/office-hours-with-arbitrage/office-hours-recaps-season-2/ohwa-s02e03">Office Hours with Arbitrage, Season 2 Episode 3</a></li>
      </ul>
      </p>
      </div>



      <div id="section-box">
      <h3>TQ Tezos</h3><a name="tq"></a>

      <p>
      <ul>
        <li><a href="https://medium.com/tqtezos/1-300-new-tezos-developers-trained-in-2019-31b0719186dd">1,300+ New Tezos Developers Trained in 2019</a></li>
        <li><a href="https://medium.com/tqtezos/preparing-for-aztec-ignition-662610c1801b">Preparing for AZTEC Ignition</a></li>
      </ul>
      </p>
      </div>



      <div id="section-box">
      <h3>Snowplow Analytics</h3><a name="sp"></a>
      <p>
      <ul>
        <li><a href="https://snowplowanalytics.com/blog/2019/02/05/how-data-ownership-makes-you-a-more-effective-data-scientist/">How data ownership makes you a more effective data scientist</a></li>
        <li><a href="https://snowplowanalytics.com/blog/2018/08/08/self-describing-data-becomes-self-policing-data/">Self-describing data becomes self-policing data</a></li>
        <li><a href="https://snowplowanalytics.com/blog/2018/03/02/understanding-the-role-of-anonymization-and-pseudonymization-in-gdpr">Understanding anonymization and pseudonymization in GDPR compliance</a></li>
        <li><a href="https://snowplowanalytics.com/blog/2018/01/19/product-analytics-part-one-data-and-digital-products/">Product analytics series part one of eight</a></li>
      </ul>
      </p>
      </div>



      <div id="section-box">
      <h3>BitClave</h3><a name='bitclave'></a>

      <p>
      <ul>
        <li><a href="https://medium.com/@BitClave/personalization-anonymization-3d382b3f1f1b">Personalization and anonymization</a></li>
        <li><a href="https://medium.com/@BitClave/blockchain-megatrends-for-2017-799f497632ea">Blockchain megatrends for 2017</a></li>
      </ul>
      </p>
      </div>



      <div id="section-box">
      <h3>CryptoCoinsNews</h3><a name="ccn"></a>

      <p>
      <ul>
        <li><a href="https://www.ccn.com/industry-disruptor-paragon-coin-partners-with-iota">Marijuana industry developer switches to IOTA</a></li>
        <li><a href="https://www.ccn.com/dash-ceo-weve-had-nearly-2000-downloads-on-the-apple-app-store">Dash wallet has nearly 2,000 downloads on the iTunes Store</a></li>
        <li><a href="https://www.ccn.com/search-economic-stability-bitcoin-saving-grace">In the search for economic stability, is Bitcoin the saving grace?</a></li>
      </ul>
      </p>
      </div>

      <div id="section-box">
      <h3>Early personal work</h3><a name='personal'></a>

      <p>
      <ul>
        <li><a href="https://mandelliant.blogspot.com/2017/04/ethereums-existence-means-bitcoin-worked.html">Ethereum's existence means bitcoin worked</a></li>
        <li><a href="https://mandelliant.blogspot.com/2017/03/hedging-your-bets.html">Hedging your bets</a>
      </ul>
      </p>
      </div>

</div>
